#birthday-bar {
  position: fixed;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: #f9f96a;
  color: rgba(33, 5, 247, 0.686);
  padding: 10px;
  animation: float 4s ease-in-out infinite;
  width: 400px;
  height: 80px;
  font-size: 50px;
  margin-bottom: -40px;
}

@keyframes float {
  0% {
    transform: translateX(-20%) translateY(0);
  }

  25% {
    transform: translateX(-50%) translateY(-50px);
  }

  50% {
    transform: translateX(-80%) translateY(0);
  }

  75% {
    transform: translateX(-50%) translateY(50px);
  }

  100% {
    transform: translateX(-20%) translateY(0);
  }
}

body {
  background-color: #006400;
}
.snowflakes {
  position: fixed;
  left: 0;
  top: 0;
  width: 30px;
  height: 20px;
  pointer-events: none;
  z-index: 1;
  background-color: #006400;
  color: rgba(248, 247, 251, 0.686);
  opacity: 0.8;
  font-size: 50px;
  border-radius: 50%;
  animation: snowflakes 4s linear infinite;
}

@keyframes snowflakes {
  0% {
    transform: translateX(var(--random-x)) translateY(100%);
  }

  50% {
    transform: translateX(calc(4000%)) translateY(2000%);
  }

  100% {
    transform: translateX(calc(8000%)) translateY(4000%);
  }
}